* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(219, 230, 253);
}
h1 {
  /* font-size: 5.2rem; */
  /* margin: 2rem 0; */
  text-align: center;
}
/* h2 {
  font-family: serif;
  font-size: rem;
} */

.stories-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.card-button {
  margin-top: 1.7rem;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-button a {
  color: #92b4ec;
  font-weight: 400;
  font-size: 1.6rem;
}
.card-button a:last-child {
  color: red;
}
form {
  display: grid;
  place-items: center;
}

input {
  padding: 3rem;
  /* display: none; */
  /* width: 40rem; */
  min-width: 40rem;
  font-size: 2rem;
  text-transform: capitalize;
  border: none;
  border-bottom: 0.2rem solid #15133c;
  outline: none;
}
span {
  text-transform: capitalize;
  font-weight: bold;
}
p {
  margin: 2rem 0;
  color: rgba(21, 19, 60, 0.5);
  font-weight: 400;
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 2rem;
}
.card {
  margin-top: 2rem;
  min-width: 40rem;
  width: 40vw;
  padding: 4rem;
  background-color: #ffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  color: #15133c;
}

.pagination-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 0.8rem 2.2rem;
  border: none;
  font-size: 1.6rem;
  background-color: #15133c;
  color: #ffff;
  margin: 3rem;
  cursor: pointer;
  display: inline-block;
}
@media (max-width: 768px) {
  html {
    font-size: 51%;
  }
  .card {
    min-width: 35rem;
    padding: 2rem;
  }
}
